body{
    background-color: #1e8b8bf3;
}

.container{
    display: flex;
    justify-content: flex-start;
    height: 700px;
    position: absolute ;
    top: -300px;
}

.pattern{
    display: flex;
    justify-content: flex-end;
    height: 500px;
    position:absolute;
    left: 900px;
    bottom: -5px;
}