*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1e8b8bf3;
}

.container{
    display: flex;
    justify-content: flex-start;
    height: 700px;
    position: absolute ;
    top: -300px;
}

.pattern{
    display: flex;
    justify-content: flex-end;
    height: 700px;
    position:absolute;
}

.centro{
    background-color: white;
    min-height: 300px;
    border: solid rgba(37, 37, 37, 0);
    display: flex;
    justify-content: center;
    gap: 0px 15px;
    align-items: center;

}

.center{
    width: 350px;
}
